* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 16px;
}

:root {
  --bg-primary: #fff;
  --bg-secondary: #f2f2f2;
  --text-primary: #020202;
  --text-secondary: #555;
  --header-bg: #000;
  --header-text: #fff;
  --card-bg: #fff;
  --border-color: #ccc;
  --accent: #c00000;
  --switch-thumb-color: #000;
}

[data-theme="dark"] {
  --bg-primary: #121212;
  --bg-secondary: #1e1e1e;
  --text-primary: #eaeaea;
  --text-secondary: #b5b5b5;
  --card-bg: #1a1a1a;
  --border-color: #333;
  --accent: #e00000;
  --switch-thumb-color: #fff;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: var(--bg-primary);
  color: var(--text-primary);
  line-height: 1.6;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: auto;
}

/* HEADER */
.header {
  background: var(--header-bg);
  color: var(--header-text);
  position: relative;
  z-index: 1000;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
}
.logo img {
  max-height: 70px;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.menu-toggle span {
  width: 28px;
  height: 3px;
  background: white;
  border-radius: 2px;
  transition: 0.3s;
}

/* MENU MOBILE (FECHADO) */
.nav {
  position: absolute;
  top: 80px;
  right: 0;
  width: 100%;
  background: #111;
  display: none;
  z-index: 1100;
}

.nav ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.nav li {
  border-top: 1px solid #222;
}

.nav a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.nav a:hover {
  background: #222;
}

/* MENU ATIVO */
.nav.active {
  display: block;
}

.nav a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

/* HERO */
.hero {
  position: relative;
  height: 70vh;
  min-height: 420px;
  overflow: hidden;
}
.hero-carousel,
.carousel-slide {
  position: absolute;
  inset: 0;
}
.carousel-slide {
  opacity: 0;
  transition: opacity 1s ease;
}
.carousel-slide.active {
  opacity: 1;
}
.carousel-slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: 2;
}

.hero-content {
  position: relative;
  z-index: 3;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  color: #fff;
}

.hero-content h1 {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.hero-content p {
  margin-bottom: 1.5rem;
}

[data-theme="dark"] {
  --switch-thumb-color: #ffffff;
}

.theme-switch {
  width: 44px;
  height: 20px;

  border-radius: 50px;
  border: 1px solid var(--switch-thumb-color);
  position: relative;
  cursor: pointer;
}

.switch-thumb {
  width: 15px;
  height: 15px;
  background-color: var(--border-color);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  transition:
    left 0.3s ease,
    0.3s ease;
}

[data-theme="dark"] .theme-switch {
  background-color: var(--header-bg);
  border-color: var(--switch-thumb-color);
  transition:
    left 0.3s ease,
    0.3s ease;
}
[data-theme="dark"] .switch-thumb {
  left: 25px;
}

.btn-primary {
  background: var(--accent);
  color: #fff;
  padding: 0.75rem 1.5rem;
  text-decoration: none;
  border-radius: 4px;
}

/* SECTIONS */
.section {
  padding: 3rem 0;
}
.section-dark {
  background: var(--bg-secondary);
}
h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

/* SOBRE */
.sobre-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.sobre-imagem img {
  width: 100%;
  border-radius: 6px;
}
.sobre-texto p {
  color: var(--text-secondary);
}
.sobre-imagem-secundaria {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
}
.sobre-imagem-secundaria img {
  max-width: 100px;
}

/* GRID */
.grid {
  /* display: flex; */
  gap: 1rem;
  justify-content: center;
}

.card {
  background: var(--card-bg);
  padding: 1.5rem;
  border-radius: 6px;
  border: 1px solid var(--border-color);
  text-align: center;
  min-width: 40px;
  margin-bottom: 20px;
}

.card img {
  width: 100%;
  max-width: 160px;
  margin-bottom: 1rem;
}

/* TABELA */
.table-wrapper {
  overflow-x: auto;
}
table {
  width: 100%;
  border-collapse: collapse;
  background: var(--card-bg);
}
th,
td {
  padding: 0.7rem;
  border: 1px solid var(--border-color);
}

/* CONTATO */
.redes {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}
iframe {
  width: 100%;
  height: 250px;
  border: 0;
  margin: 0 0 10%; /* remove aquele espaço enorme embaixo */
}

.redes-sociais {
  display: flex;
  flex-direction: column;
  justify-content: center; /* centraliza verticalmente */
  gap: 1.2rem;
  margin-bottom: 20%;
  align-items: center;
}

.redes-sociais a {
  text-decoration: none;
  color: var(--text-primary);
  display: flex;
  align-items: center; /* ícone alinhado com texto */
}

.redes i {
  margin-right: 12px;
  font-size: 1.4rem;
}

.redes i {
  margin-right: 20px;
  font-size: 1.6rem;
}

.footer {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 2rem;
}

/* ===== MEDIA QUERIES ===== */

/* Tablet */

/* MOBILE (padrão) */
/* .redes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
} */

/* TABLET+ */
/* @media (min-width: 768px) {
  .redes {
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  iframe {
    width: 50%;
    height: 320px;
  }
} */

@media (min-width: 768px) {
  .nav ul {
    display: flex;
    gap: 2rem;
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    display: flex;
  }

  /* 
  iframe {
    height: 350px;
    
  } */

  .menu-toggle {
    display: none;
  }

  .nav {
    position: static;
    display: block !important;
    width: auto;
    background: none;
  }

  .nav ul {
    flex-direction: row;
    gap: 25px;
  }

  .nav li {
    border: none;
  }

  .nav a {
    padding: 0;
  }

  iframe {
    margin: 0 0 5rem;
    display: flex;
    max-width: 50%;
  }

  .redes {
    display: flex;
  }

  .redes-sociais {
    margin-top: 7%;
  }

  .hero-content h1 {
    font-size: 2.2rem;
  }

  .sobre-imagem-secundaria {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1rem;
  }
  .sobre-imagem-secundaria img {
    max-width: 150px;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .container {
    max-width: 1200px;
  }
  .header-content {
    height: 110px;
  }
  .logo img {
    max-height: 85px;
  }
  .hero {
    height: 85vh;
  }
  .sobre-content {
    flex-direction: row;
    align-items: center;
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    display: flex;
  }

  .sobre-imagem-secundaria {
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 1rem;
  }
  .sobre-imagem-secundaria img {
    max-width: 150px;
  }

  html {
    font-size: 25px;
  }

  .card {
    min-width: 400px;
  }

  #contato.section {
    padding: 75px 0 0;
  }
}
